body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  text-align: center;
}
ul li {
  display: inline-block;
  padding: 15px;
}
ul li:hover {
  cursor: pointer;
  color: green;
}
.images {
  text-align: center;
}
.images img {
  width: 24%;
}
@media (max-width: 768px) {
  .images img {
    width: 48%;
  }

  ul {
    background-color: black;
    color: white;
    margin-top: 0;
  }
}
@media (max-width: 576px) {
  .images img {
    width: 94%;
    margin-bottom: 1%;
  }
  ul {
    padding: 0;
  }
  ul li{
    display: block;
  }
  ul li:hover {
    background-color: rgb(20, 20, 20);
    
  }

}
